html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #DCC6C6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.header {
    margin: 50px;
    font-weight: 800;
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.headerlink{
    text-decoration: none;
    color: #F0F0F0;
}

.navigation, .navigationgallery{
    margin-bottom: 5%;
}

.button1,
.button2 {
    padding: 20px 80px;
    margin: 10px;
    background-color: #F0F0F0;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 600;
}

.navigationgallery{
    color: #DCC6C6;
}


.pageimage {
    max-width: 100%;
}

.galleryplaces{
    padding: 20px;
    margin: 50px;
}

.footer{
    padding: 40px;
    color: #F0F0F0;
    background-color: #6B6565;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 640px) {

    .button1,
    .button2 {
        display: inline-block; 
        width: 90%;
        font-size: 20px;
    }

    .gallery img{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 1100px) {
    body {
        background-color: #F0F0F0;
        background-image: url("/images/background_site.png");
        background-repeat: repeat-x;
        background-size: 75%;
        display: grid;
    }

    
/* napad pro najeti mysi na jednotlive obrazky */
.galleryplaces1:hover, .galleryplaces2:hover, .galleryplaces3:hover,
.galleryplaces4:hover, .galleryplaces5:hover, .galleryplaces6:hover{
    opacity: 80%;
    border: #6B6565 10px solid;
    border-radius: 5px;
} 

    .gallery img{
        max-width: calc(100%/4);
        flex-wrap: wrap; 
    }
    


}