html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/* HLAVNÍ KOSTRA STRÁNKY */
/* -------------------------- */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #DCC6C6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

main{
    background-color: #F0F0F0;
    padding: 30px;
}
/* -------------------------- */

/* HLAVIČKA STRÁNKY */
/* -------------------------- */
.header {
    margin: 50px;
    font-weight: 800;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    font-size: 500%;
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: italic;
}

.headerlink{
    text-decoration: none;
    color: black;
}

.header::after, .header::before {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10px;
    background-color: #6B6565;
}
/* -------------------------- */

/* NAVIGACE STRÁNKY */
/* -------------------------- */
@media screen and (max-width: 1100px) {
.navigation, .navigationgallery, .navigation__link, .navigationlist{
    margin-bottom: 5%;
    }
}

.navigation{
    background-color: #DCC6C6;
}

.navigation__link{
    color: #F0F0F0;
    float: right;
    padding: 40px;
}

.navigationlist a{
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    margin: 10px;
}

.navigationlist a:hover{
    font-size: 150%;
}

.button1,
.button2 {
    display: inline-block;
    padding: 20px 80px;
    margin: 10px;
    background-color: #F0F0F0;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 600;
}
@media screen and (max-width: 1100px) {
    .button1,
    .button2 {    
       display: inline-block; 
        width: 90%;
        font-size: 20px;       
    }
}
/* -------------------------- */

/* NASTAVENÍ NADPISŮ */
/* -------------------------- */
h1{
    margin: 5% 5%;
}
/* -------------------------- */

/* NASTAVENÍ ČLÁNKŮ */
/* -------------------------- */
.article{
    margin: 5%;
}
/* -------------------------- */

/* VRACENÍ ZPĚT */
.return{
    float: left;
    margin: 2%;
}
/* -------------------------- */

/* NEFUNGUJE AKTUÁLNĚ, PROTOŽE NEVÍM JAK JE STATUS AKTIVNÍ */
/* .button1:active,
.button2:active{
    background-color: transparent;
    color:#6B6565;
    border: #6B6565 2px solid;
} */


/* ----PODSTRÁNKY---- */

/* SEKCE O MNĚ */
/* -------------------------- */
@media screen and (max-width: 1100px) {
    .aboutimage, .abouttext{
        display: flex;
        flex-direction: column;
    }
}

.aboutimage img{
    border-radius: 40%;
    align-self: center;
    width: 80%;
}

.aboutimage, .abouttext{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: 4%; 
    padding: 4%;
}
/* -------------------------- */

/* MOJE CESTY */
/* -------------------------- */
.navigationgallery{
    color: #DCC6C6;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

@media screen and (min-width: 1100px) {
.navigationgallery{
   margin-top: 50px;
   text-align: left;
    }

.gallery img{
    width: calc((100% - 100px) /3);
    }
}

.pageimage {
    max-width: 95%;
}

.galleryplaces{
    margin: 50px;
}

/* POTŘEBUJI OPRAVIT NĚJAK FLEXBOXEM NEBO NĚČÍM, ABY SE TO PĚKNĚ SKLÁDALO */
/* @media screen and (max-width: 1100px) {
    .gallery img{
        max-width: calc(70%/2);
    }
} */

.galleryplaces1:hover, .galleryplaces2:hover, .galleryplaces3:hover,
.galleryplaces4:hover, .galleryplaces5:hover, .galleryplaces6:hover{
    opacity: 80%;
    border: #6B6565 10px solid;
    border-radius: 5px;
} 

@media screen and (max-width: 1100px) {
    .gallery img{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}
/* -------------------------- */

/* ZÁPATÍ */
/* -------------------------- */
.footer{
    padding: 40px;
    color: #F0F0F0;
    background-color: #6B6565;
    width: 100%;
    text-align: center;
}
/* -------------------------- */


