
@use 'sass';

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sass.$font_main;
    font-optical-sizing: auto;
    background-color: sass.$primary_color; 
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

main{
    background-color: #F0F0F0;
    padding: sass.$main_padding;
}

@media screen and (max-width: 1100px) {
body{
    width: 100%;
}
    .page{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .pageimage1, .pageimage2{
        width: 100%;
        display: block;
    }
    
    .article1, .article2{
        border: #1d1b1b 2px dashed;
        padding: sass.$main_padding;
        margin: 10px;
    }
  }

@media screen and (min-width: 1100px) {
.page{
    display: flex;
    width: 100%;
}

.pageimage1, .pageimage2{
    width: 100%;
}

.article1, .article2{
    border: sass.$link_color 2px dashed;
    padding: sass.$main_padding;
    margin: 10px;
    width: 100%;
}
}

body {
    font-family: sass.$font_main;
    font-optical-sizing: auto;
    background-color: sass.$primary_color; 
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

main{
    background-color: #F0F0F0;
    padding: sass.$main_padding;
}

@media screen and (max-width: 1100px) {
body{
    width: 100%;
}
    .page{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .pageimage1, .pageimage2{
        width: 100%;
        display: block;
    }
    
    .article1, .article2{
        border: #1d1b1b 2px dashed;
        padding: sass.$main_padding;
        margin: 10px;
    }
  }

@media screen and (min-width: 1100px) {
.page{
    display: flex;
    width: 100%;
}

.pageimage1, .pageimage2{
    width: 100%;
}

.article1, .article2{
    border: sass.$link_color 2px dashed;
    padding: sass.$main_padding;
    margin: 10px;
    width: 100%;
}
}