@use 'sass';

h1 {
    margin: 5% 2%;
}

    h1::after {
        content: "";
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 50%;
        height: 3px;
        background-color: sass.$link_color;
    }


/* SEKCE O MNĚ */
/* -------------------------- */

@media screen and (max-width: 1100px) {

    .about__image,
    .about__text {
        display: flex;
        flex-direction: column;
    }
}

.about__image img {
    border-radius: 40%;
    width: 40%;
    margin: 4%;
}

.about__text {
    padding: 4%;
}

@media screen and (min-width: 1100px) {
    .about__image img {
        float: left;
        width: 20%;
    }

    .about__text {
        height: 500px;
    }
}

/* -------------------------- */