@use 'sass';

.return {
    float: left;
    padding: 20px;
    margin: 20px;
}

@media screen and (max-width: 1100px) {
    .navigation, .navigationgallery, .navigation__link_beige, .navigationlist{
        margin-bottom: 5%;
        }
    }
    
    .navigation{
        background-color: sass.$primary_color;
        width: 90%;
    }

    .navigation__link_white a{
        color: sass.$primary_color;
        font-size: 120%;
    }

    .navigation__link_white{
        color: sass.$secondary_color;
        float: right;
        padding: 20px sass.$main_padding;
    }

    .navigationlist{
    a{
        text-align: center;
        text-decoration: none;
        color: black;
        display: block;
        margin: 10px;
    }
    a:hover{
        font-size: 150%;
    }
    }
    
    .button1,
    .button2 {
        display: inline-block;
        padding: 10px 60px;
        margin: 0 10px;
        background-color: sass.$secondary_color;
        border-radius: 15px;
        text-decoration: none;
        text-align: center;
        color: black;
        font-family: sass.$font_special;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5em;
    }
    
    @media screen and (min-width: 1100px) {
        .button1,
        .button2 {  
            border-radius: 15px 15px 0 0;
    }
    }
    @media screen and (max-width: 1100px) {
        .button1,
        .button2 {    
            width: 90%;
            font-size: 20px;      
            margin: 10px;
        }
        .button1:focus,
        .button2:focus{
            background-color: transparent;
            color:#6B6565;
            border: #6B6565 2px solid;
        }
    }
        