@use 'sass';

.navigation__link_beige {
    color: sass.$link_color;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.galleryplaces_article img {
    padding: 10px;
    border: 2px black solid;
    width: 70%;
}

@media screen and (min-width: 1100px) {
    .article {
        display: flex;
        flex-direction: column;
    }

    .galleryplaces_article img {
        width: 40%;
        flex-direction: row;
    }
}

@media screen and (max-width: 1100px) {
    .galleryplaces {
        padding: 10px;
        border: 2px black dashed;
    }
}

@media screen and (min-width: 1100px) {
    .gallery img {
        width: calc(100% / 3);
        margin: 15px;
        padding: 15px;
        border: 2px black dashed;
    }
}

.galleryplaces1:hover,
.galleryplaces2:hover,
.galleryplaces3:hover,
.galleryplaces4:hover {
    opacity: 70%;
    border: #1d1b1b 10px solid;
}

@media screen and (max-width: 1100px) {
    .gallery img {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}