html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

$primary_color: #DCC6C6;
$secondary_color: #F0F0F0;
$link_color:  #6B6565;
$font_main: "Montserrat", sans-serif;
$font_special: "Amatic SC", sans-serif;
$main_padding: 30px;


/* HLAVNÍ KOSTRA STRÁNKY */
/* -------------------------- */
body {
    font-family: $font_main;
    font-optical-sizing: auto;
    background-color: $primary_color; 
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

main{
    background-color: #F0F0F0;
    padding: $main_padding;
}

@media screen and (max-width: 1100px) {
body{
    width: 100%;
}
    .page{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .pageimage1, .pageimage2{
        width: 100%;
        display: block;
    }
    
    .article1, .article2{
        border: #1d1b1b 2px dashed;
        padding: $main_padding;
        margin: 10px;
    }
  }

@media screen and (min-width: 1100px) {
.page{
    display: flex;
    width: 100%;
}

.pageimage1, .pageimage2{
    width: 100%;
}

.article1, .article2{
    border: $link_color 2px dashed;
    padding: $main_padding;
    margin: 10px;
    width: 100%;
}
}
/* -------------------------- */

/* HLAVIČKA STRÁNKY */
/* -------------------------- */
.header {
    margin: 50px;
    font-weight: 800;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    font-size: 350%;
    font-family: $font_special;
    font-weight: 700;
    font-style: normal;
}

.headerlink{
    text-decoration: none;
    color: black;
}

.header::after, .header::before {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10px;
    background-color: $link_color;
}
/* -------------------------- */

/* NAVIGACE STRÁNKY */
/* -------------------------- */
@media screen and (max-width: 1100px) {
.navigation, .navigationgallery, .navigation__link_beige, .navigationlist{
    margin-bottom: 5%;
    }
}

.navigation{
    background-color: $primary_color;
    width: 90%;
}
.navigation__link_white{
    color: $secondary_color;
    float: right;
    padding: 20px $main_padding;
}

.navigationlist{
a{
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    margin: 10px;
}
a:hover{
    font-size: 150%;
}
}

.button1,
.button2 {
    display: inline-block;
    padding: 10px 60px;
    margin: 0 10px;
    background-color: $secondary_color;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: $font_special;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
}

@media screen and (min-width: 1100px) {
    .button1,
    .button2 {  
        border-radius: 15px 15px 0 0;
}
}
@media screen and (max-width: 1100px) {
    .button1,
    .button2 {    
        width: 90%;
        font-size: 20px;      
        margin: 10px;
    }
}
/* -------------------------- */

/* NASTAVENÍ NADPISŮ */
/* -------------------------- */
h1{
    margin: 5% 5%;
}

h1::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    height: 3px;
    background-color: $link_color;
}

/* -------------------------- */

/* NASTAVENÍ ČLÁNKŮ */
/* -------------------------- */
.article{
    margin: 5%;
}
.article::before, .article::after {
    content: "";
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 1px;
    background-color: $link_color;
}
/* -------------------------- */

/* VRACENÍ ZPĚT */
.return{
    float: left;
    margin: 2%;
}
/* -------------------------- */

/* NEFUNGUJE AKTUÁLNĚ, PROTOŽE NEVÍM JAK JE STATUS AKTIVNÍ */
@media screen and (max-width: 1100px) {
.button1:focus,
.button2:focus{
    background-color: transparent;
    color:#6B6565;
    border: #6B6565 2px solid;
} } 


/* ----PODSTRÁNKY---- */

/* SEKCE O MNĚ */
/* -------------------------- */
@media screen and (max-width: 1100px) {
    .aboutimage, .abouttext{
        display: flex;
        flex-direction: column;
    }
}

.aboutimage img{
    border-radius: 40%;
    align-self: center;
    width: 80%;
}

.aboutimage, .abouttext{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: 4%; 
    padding: 4%;
}
/* -------------------------- */

/* MOJE CESTY */
/* -------------------------- */
.navigation__link_beige{
    color: $link_color;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media screen and (min-width: 1100px) {
.gallery img{
    width: calc((100% - 50px) /3);
    }
}

.pageimage {
    max-width: 95%;
}

.galleryplaces{
    margin: 50px;
    padding: 20px;
    border: 2px black dashed;
}

.galleryplaces1:hover, .galleryplaces2:hover, .galleryplaces3:hover,
.galleryplaces4:hover, .galleryplaces5:hover, .galleryplaces6:hover{
    opacity: 70%;
    border: #1d1b1b 10px solid;
} 

@media screen and (max-width: 1100px) {
    .gallery img{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}
/* -------------------------- */

/* ZÁPATÍ */
/* -------------------------- */
.footer{
    padding: 40px;
    color: #F0F0F0;
    background-color: $link_color;
    width: 100%;
    text-align: center;
}
/* -------------------------- */


