html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

*{
    padding: 0;
    margin: 0;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: auto;
    gap: 20px;
}

.gallery__places img{
    width: 100%;
    padding: 10px;
    border: 2px dotted grey;
}