---
layout: main_page.njk
---

<div class="return"><a href="/gallery/">Zpět</a></div>

  <main class="main">
<section class="page">
  <img class="pageimage" src="/images/articles/{{foto}}" alt="Foto">
<h1 style="display: block;">   {{ title }} </h1>

<p> Publikováno {{ page.date.toLocaleString('cs-CZ') }}</p>
<br>
<p>{{ perex }}</p>
<br>
  {{ content | safe }}

<br>
</section>
